:root {
--Text: "Waffles";
}
#charcounter {
    bottom: -10px;
}
.channel-members-wrap{
    padding-top:71px;
}
.channel-members::before {
    content: var(--Text);
    font-family: "Satisfy";
    text-align: center;
    background: rgba(0, 0, 0, 0.325) !important;
    color: rgb(113, 54, 138);
    font-weight: 700;
    font-size: 250%;
    width: 100%;
    height: 71px;
    position: absolute;
    line-height: 75px;
    top:-71px;
    z-index: 1;
    border-radius: 0px !important;
    padding-right: 30px;
}
.channel-members h2 {
    color: #fff !important;
}

.guilds-wrapper .guilds {
    width: 100% !important;
}
.wordmark-2L03Wr {
    opacity:0;
}
.channel-members {
    padding-top: 10px;
}
.message-group-blocked {
    display: none; /* use "display: initial !important;" instead to show messages*/
}

.chat>.content .messages .message-group {
    border-bottom-style: solid !important;
    border-bottom-color: hsla(0,0%,100%,.04) !important;
}
.message-group:not(.compact) .avatar-large[style*="147091877445894144"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style*="147091877445894144"] ~ .member-inner .member-username .member-username-inner::after{
    content: "Waffles";
    background: #572468;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-left: 6px;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 4px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    text-shadow: 0px 1px 3px #000;
}
/* Transparency */
.theme-dark .channels-wrap, 
.theme-dark .activityFeed-HeiGwL , 
#friends  .headerBar-cxbhPD , 
.theme-dark .lfg-3xoFkI,
.app .guilds .guild.active:first-child , 
.theme-dark .guilds-wrapper ,.headerPlaying-2Q7mBy, 
.userPopout-11hFKo .headerStreaming-lmgoma, 
.userPopout-11hFKo .body-3ljq11, 
.userPopout-11hFKo .footer-2wFs91,
.headerNormal-3Vn9nT, 
.headerStreaming-lmgoma,
.theme-dark .title-wrap, 
.theme-dark .channel-members, 
.theme-dark .private-channel-call,
.theme-dark .content .flex-spacer, 
.theme-dark .friends-table, 
.theme-dark .friends-header, 
.headerSpotify-26yUf5,
.channels-3g2vYe, #app-mount 
.titleWrapper-3Vi_wz, 
.app .guilds 
.guild:first-child, 
.theme-dark 
.channel-members::after {background: rgba(0, 0, 0, 0.325) !important;}